@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}



/* navbar */
.navbar{
  background: rgb(253, 252, 252);
  box-shadow: 1px 1px 8px rgb(88, 88, 88);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 50px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

.logo{
  height: 100%;
  background: rgb(253, 252, 252);
  display: flex;
  align-items: center;
}
.logo div{
  font-family: 'Kaushan Script', sans-serif;
  font-size: 30px;
}
#menu.hidden{
  top: -250px;
}

#menu{
  background: rgb(253, 252, 252);
  position: fixed;
  padding: 10px 5%;
  top: 50px;
  right: 0;
  left: 0;
  transition: top 1s;
  z-index: -1;
  line-height: 2.5rem;
}
#menu li{
  list-style: none;
  text-decoration: none;
  z-index: -1;
}
.option{
  text-decoration: none;
  z-index: -1;
  display: block;
  transition: 0.2s;
}
.option:hover{
  color: #E65F78;
  transition: 0.2s;
}
nav div a i{
  font-size: 25px;
}






/* Banner */
.banner{
  background-image: url('../img/banner.jpeg');
  background-size: cover;
  background-position: center top;
  position: relative;
  height: 597px;
  text-shadow: 1px 1px 8px black;
  color: white;
}
.overlay{
  background: rgba(0, 0, 0, 0.459);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 110px 2%;
}
.main-title{
  margin: 24px 0;
  font-size: 38px;
  font-weight: 500;
}
.banner-description{
  font-family: 'Nunito', sans-serif;
  max-width: 500px;
  color: #ffffffc9;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
}
.button-cv{
  border: solid 2px white;
  border-radius: 30px;
  padding: 15px 32px;
  color: white;
  display: inline-block;
  margin-top: 35px;
  text-decoration: none;
  font-family: 'Nunito' sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  transition: 0.5s;
}
.button-cv:hover{
  background: white;
  color: black;
  transition: 0.5s;
}




/* About section */
.container{
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
.portrait{
  padding: 4px;
  border: solid 1px #dee2e6;
  border-radius: .25rem;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}
.social-networks{
  list-style: none;
}
.icon-sn{
  display: inline-block;
  padding: 8px;
  margin-right: 0.5rem;
  border: solid 2px #dee2e6;
  border-radius: 50%;
  width: 22px;
  transition: 0.5s;
}
.icon-sn:hover{
  border-color: #E65F78;
  transition: 0.5s;
}
.icon-sn:hover i {
  color: #E65F78;
  transition: 0.5s;
}
.color{
  color:black;
  transition: 0.5s;
}



/* Services section */
.target{
  border: solid 1px #e8e8e8;
  border-radius: 3px;
  padding: 24px;
}
.target:hover .line{
  transform: scale(1.5);
}
.icon-services{
  font-size: 60px;
}

/* Freelancer section */
.hire-button{
  color: white;
  font-weight: 600;
  background: #E65F78;
  border-radius: 5px;
  display: inline-block;
  padding: 15px 32px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.5s;
}
.hire-button:hover{
  background: #e63051;
  transition: 0.5s;
}

/* Clients section */
.icon-quote{
  font-size: 45px;
}
.client-img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.client-comment{
  font-size: 18px;
  font-style: italic;
  max-width: 690px;
  margin: 0 auto;
}
.large-line-clients-section{
  width: 19px;
  height: 5.5px;
  margin: 0 1px;
  border-radius: 2px;
  background: #E65F78;
  transition: 0.5s;
  display: inline-block;
}
.short-line-clients-section{
  width: 13px;
  height: 5.5px;
  background: #e595a4;
}
.short-line-clients-section:hover{
  background: #E65F78;
  transition: 0.5s
}

/*Work section*/
.categories{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.works-buttom{
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 20px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px; 
  transition: 0.5s;
}
.works-buttom a{
  transition: 0.5s;
}
.works-buttom-selected{
  background: #e65f58;
}
.works-buttom-selected a{
  color: white;
}

.works-buttom:hover{
  background: #e65f58;
  transition: 0.5s;
}
.works-buttom:hover a{
  color: white;
  transition: 0.5s
}
.works-buttom a{
  text-decoration: none;
}
.work{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
}
.img-zoom{
  display: inline-block;
}
.overlay-work{
  background: rgba(0, 0, 0, 0.384);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.3s;
  border-radius: 4px;
  position: absolute;
  display: none;
}
.work:hover .overlay-work{
  display: block;
  transition: 0.3s;
}


/* 
=======================Components=======================
*/

.line{
  margin: 15px auto;
  background: #E65F78;
  width: 40px;
  height: 2px;
  transition: 0.5s;
}
.gray-text{
  color: #6C757D;
}
.pink-text{
  color: #E65F78;
}
.section{
  padding: 100px 0;
}





/* 
=======================Generic clases=======================
*/

.center-text{
  text-align: center;
}
.description{
  max-width: 500px;
  margin: 0 auto;
}
.p-relative{
  position: relative;
}
.without-interline{
  line-height: 0;
}
.bg-gray{
  background: #F8F9FA;
}
.space-top{
  margin-top: 24px;
}
.space-top-3{
  margin-top: 90px;
}
.bold{
  font-weight: 600;
}
.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}
.padding{
  padding: 15px;
}
a{
  color: #000000;
}

/* Titles */
.title-1{
  font-size: 2.5rem;
}
.title-2{
  font-size: 2.1rem;
}
.title-4{
  font-size: 1.6rem;
}
.title-5{
  font-size: 1.3rem;
}




/* 
=======================Responsity=======================
*/

@media(min-width: 576px){
  .container{
    max-width: 579px;
  }
}
@media(min-width: 768px){
  .container{
    max-width: 721px;
  }
  .navbar{
    height: 70px;
  }
  #menu.hidden{
    top: -230px;
  }
  .banner-md{
    height: 100vh;
  }
  .overlay-md{
    padding-top: 180px;
  }
  .main-title-md{
    font-size: 3.2rem;
  }
  #menu{
    top: 70px;
  }
}
@media(min-width: 992px){
  .container{
    max-width: 976px;
  }
  #menu{
    right: 0;
    height: 50px;
    top: 0;
    display: flex;
    justify-content: flex-end;
  }
  .burguer{
    display: none
  }
  #menu li{
    display: inline-block;
    padding: 13px;
  }
  #menu.hidden{
    top: 0;
    line-height: normal;
  }
  .option{
    line-height: normal;
  }
}